body{
  background-color: #ffa56e;
  margin: 0;
}
.top-container{
  background-image: url("https://www.wernersobek.de/app/uploads/2017/07/sphere_expo2017_007.jpg");
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  width: 1500px;
}

.text-container{
  background-color: #7ee696;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 400px;
}
.text1-container{
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 400px;
}
.text2-container{
  background-color: #1db8db;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 250px;
}
.rightpic{
  float:right;
  margin: 5px 5px 5px 5px;
}
